body{
    background-color: black !important;
}
.navbar{
    
    position: absolute;
    width: 100%;
    /* z-index: 50; */
    border-bottom: 2px solid rgba(255, 255, 255, 0.3) ;
    
}

.carousel{
    margin: 12%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card{
    margin: 12%;    
    margin-top: 20px;
    margin-bottom: 40px;

}
/* .foot{
    border: 1px solid black;
    color: white;
    text-align: center;
    line-height: 2px;
    margin-top: 50px;
    
} */
.footer{
    /* width: 100%; */
    text-align: center;
    background: #202020;
    color: white;  
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; 

    
}
